.presentacion {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
    font-size: 40px;
    padding: 60px 20px; 
    color: red;
}
.item-list-container {
    padding-top: 120px;
    margin: 0 auto; 
}